body{
    font-family: monospace;
    font-size: 20px;
    text-align:center;
    color: white;
    background-color: #da5a01;
    background-image: url('soleilStripes.jpg');
}


table{
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}
th{
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    background-color: #da5a01;
}


div{
    border: 7px solid white;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
.soleilDiv{
    background-color: black;
}
.tiles{
    display: inline-block;
}


h1{
    background-color: black;
}

.achieve{
    background-color: #ee883f;
    margin-left: auto;
    margin-right: auto;
    border: 4px double #ee883f;
}
.achievementLinks{
    color:white;
    text-decoration: none;
    background-color: #b8540c;
}