body{
    font-family: monospace;
    font-size: 20px;
    text-align:center;
    color: white;
    background-color: #e1f095;
    background-image: url('serenaPolkaDot.jpg');
}


table{
    border: 2px solid #f2b1d0;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 2px solid #f2b1d0;
    padding: 5px;
    text-align: center;
}
th{
    border: 2px solid #f2b1d0;
    padding: 5px;
    text-align: center;
    background-color: #ace6ac;
}
.tttbest{
    background-color: #ace6ac;
    color: black;
}
.tttworst{
    background-color: #f2b1d0;
    color: black;
}
.best{
    background-color: #ace6ac;
    color:black;
}
.worst{
    background-color: #f2b1d0;
    color:black;
}



div{
    border: 7px solid white;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
.serenaDiv{
    background-color: #bae5f7;
}
.tiles{
    display: inline-block;
}


.topImgDiv{
    flex: 50%;
    padding: 5px;
    border: none;
}
#profile{
    border: none;
    display: flex;
}
#pfp{
    height: 50%;
    width: 50%;
}
.track{
    height: 50%;
    width: 50%;
    margin: 2px;
}
#tree{
    border: 10px solid #ace6ac;
}
img{
    border: 10px solid #bae5f7;
}


h1, h2{
    background-color: #bae5f7;
}


.achieve{
    background-color: #f2b1d0;
    margin-left: auto;
    margin-right: auto;
    border: 4px double #f2b1d0;
}
.achievementLinks{
    color:white;
    text-decoration: none;
    background-color: #e1f095;
}
/*
this is for a complete achievement
#tenMin{
    background-color: #ace6ac;
    border: 4px double #ace6ac;
}*/